.more-reasons-container {
    background-color: #0a0a0a; /* Dark Netflix background */
    color: white;
    font-family: Arial, sans-serif;
    padding: 100px 100px;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align all content to the left */
    justify-content: flex-start; /* Ensure the content starts from the top */
    height: 100vh; /* Full viewport height */
    min-height: 600px; /* Set a minimum height */
}

.reasons-heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ebe2e3; /* Netflix red */
    margin-bottom: 60px;
    text-align: left; /* Align text to the left */
    align-self: flex-start; /* Ensure the heading stays at the left */
}


.reasons-buttons {
    display: flex;
    justify-content: center; /* Center all buttons */
    align-items:flex-start;
    gap: 20px; /* Space between buttons */
    flex-wrap: wrap; /* Ensure responsiveness */
   
}
/* .more-reasons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    min-height: 700px; 
} */


.reason-button {
    position: relative;
    padding: 40px 40px; /* Keep padding for larger buttons */
    font-size: 1.2rem; /* Bigger text size */
    border: none;
    border-radius: 8px;
    background-color:  #333; /* Netflix red */
    color: white;
    cursor: pointer;
    text-align:left;
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 1 1 250px; /* Make buttons responsive, minimum width of 250px */
    max-width: 350px; /* Limit button width */
    height: 150px; /* Increased height from 120px to 150px */
    display: flex;
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
}

.reason-button:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
    box-shadow: 0px 8px 15px rgba(229, 9, 20, 0.4); /* Subtle shadow on hover */
}

.button-image {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px; /* Adjust the size of the image */
    height: 50px;
}

.button-image img {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Make the image circular */
    transition: transform 0.3s, opacity 0.3s;
}

.button-image img:hover {
    transform: scale(1.2); /* Enlarge on hover */
    opacity: 0.9;
}
